.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Older Firefox versions */
  -ms-user-select: none;
  /* Internet Explorer 10-11 and Edge Legacy */
  user-select: none;
  /* Standard syntax for modern Chrome, Firefox, Opera, and Edge */
}

.no-pointer-events {
  pointer-events: none;
}